.textInput {
  box-sizing: border-box;
  margin: 0;
  padding: 4px 11px;
  color: #000000;
  font-size: inherit;
  line-height: 22px;
  list-style: none;
  font-family: sans-serif;
  width: 100%;
  text-align: start;
  background-color: transparent;
  border: 0;
  border-radius: 4px;
  border: 1px solid darkgrey;
  outline: 0;
  appearance: textfield;
}
