.battlefield {
  max-width: 760px;
  margin: 0 auto;
  padding: 40px;
}
.disabled {
  opacity: 0.3;
  filter: grayscale(1);
  pointer-events: none;
}

.fieldRow {
  display: flex;
}
.indexCell {
  width: calc(var(--cell-w) + var(--ship-border));
  height: calc(var(--cell-h) + var(--ship-border));
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.numericalIndex {
}

.grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: var(--cell-border-color);
  border: 1px solid var(--cell-border-color);
}
.cell {
  position: relative;
  width: var(--cell-w);
  height: var(--cell-h);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  background-color: oklch(100 0 1 / 0.9);
}

.cell:hover {
  background-color: oklch(100 0 1 / 0.7);
}
.cellEmpty {
}
.cellMiss::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000000;
}

.cellShip {
  position: absolute;
  width: calc(var(--cell-w) + var(--ship-border) * 2);
  height: calc(var(--cell-h) + var(--ship-border) * 2);
  left: calc(var(--ship-border) * -1);
  top: calc(var(--ship-border) * -1);
  background-color: oklch(from var(--ship-border-color) l c h / 0.4);
  border: var(--ship-border) solid transparent;
}
.cellShipFull {
  composes: cellShip;
  border-color: var(--ship-border-color);
}
.cellShipTop {
  composes: cellShip;
  border-color: var(--ship-border-color);
  border-bottom-color: transparent;
}
.cellShipBottom {
  composes: cellShip;
  border-color: var(--ship-border-color);
  border-top-color: transparent;
}
.cellShipLeft {
  composes: cellShip;
  border-color: var(--ship-border-color);
  border-right-color: transparent;
}
.cellShipRight {
  composes: cellShip;
  border-color: var(--ship-border-color);
  border-left-color: transparent;
}
.cellShipMiddleH {
  composes: cellShip;
  border-top-color: var(--ship-border-color);
  border-bottom-color: var(--ship-border-color);
}
.cellShipMiddleV {
  composes: cellShip;
  border-left-color: var(--ship-border-color);
  border-right-color: var(--ship-border-color);
}
.cellShipPreview {
  border-color: var(--preview-ship-border-color);
  background: var(--preview-ship-backgound);
  z-index: 2;
}
.cellShipPreviewInvalid {
  border-color: var(--preview-ship-border-color-invalid);
  background: var(--preview-ship-background-invalid);
  z-index: 2;
}

/* ship creator */
.shipBlueprint {
  composes: cellShip;
  position: relative;
  height: var(--cell-h);
  width: var(--cell-w);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--ship-border) solid var(--ship-border-color);
  font-size: 12px;
  border-radius: 0;

  &:disabled {
    opacity: 0.3;
  }
}
.ship1 {
  composes: shipBlueprint;
}
.ship2 {
  composes: shipBlueprint;
  width: calc(var(--cell-w) * 2);
}
.ship3 {
  composes: shipBlueprint;
  width: calc(var(--cell-w) * 3);
}
.ship4 {
  composes: shipBlueprint;
  width: calc(var(--cell-w) * 4);
}

.isHit {
  position: absolute;
  height: var(--cell-h);
  width: var(--cell-w);
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--ship-border) solid var(--ship-border-color);
  font-size: 12px;
  border-radius: 0;
  background-repeat: no-repeat;
  background-color: var(--preview-ship-border-color-invalid);
  mask: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='none' stroke-width='0' viewBox='0 0 15 15' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.8536 2.85355C13.0488 2.65829 13.0488 2.34171 12.8536 2.14645C12.6583 1.95118 12.3417 1.95118 12.1464 2.14645L7.5 6.79289L2.85355 2.14645C2.65829 1.95118 2.34171 1.95118 2.14645 2.14645C1.95118 2.34171 1.95118 2.65829 2.14645 2.85355L6.79289 7.5L2.14645 12.1464C1.95118 12.3417 1.95118 12.6583 2.14645 12.8536C2.34171 13.0488 2.65829 13.0488 2.85355 12.8536L7.5 8.20711L12.1464 12.8536C12.3417 13.0488 12.6583 13.0488 12.8536 12.8536C13.0488 12.6583 13.0488 12.3417 12.8536 12.1464L8.20711 7.5L12.8536 2.85355Z' fill='currentColor'%3E%3C/path%3E%3C/svg%3E");
}
